/* Base styles */
html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 70px; /* Space for the fixed navbar */
    margin-bottom: 60px; /* Margin bottom for footer height */
}

/* Footer styles */
footer {
    color: #fff;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Fixed height of the footer */
}

/* Theme-specific styles */
.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.theme-showcase .navbar .container {
    width: auto;
}

/* Heading styles */
h1 {
    margin: 20px 0;
    text-align: center;
    color: #333;
}

/* Form styles */
.form-horizontal {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Flexbox for form groups */
.form-group {
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Align items vertically */
}

/* Label styling */
label {
    margin: 0; /* Remove margins */
    font-size: 15px; /* Set font size for labels */
    flex: 0 0 40%; /* Set label width */
}

/* Input and select styles */
input,
select {
    flex: 1; /* Allow inputs to take remaining space */
    margin-left: 0; 
    height: 40px;
}

/* Placeholder styles */
input::placeholder {
    font-size: 12px; /* Smaller font size for placeholders */
    color: #aaa; 
}

/* Button styles */
.buttons {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    width: 100%; 
    font-size: 18px; /* Increase font size */
    font-weight: bold; /* Make text bold */
    text-align: center;
}

/* Button hover styles */
.buttons a:hover {
    background-color: #45a049;
}

/* Payment status message styles */
#paymentStatus {
    margin-top: 10px;
    font-weight: bold;
    color: red;
    text-align: center;
}

.btn-download{
    background-color: red;
    color: white;
}